<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Palce</title>
    <link rel="stylesheet" href="/static/home_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
            .home_text {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }

    .home_text span {
      display: inline-block;
      opacity: 0;
      transform: translateY(50px);
      animation: floatIn 1s forwards;
    }

    @keyframes floatIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    h2{
        font-size: 40px;
    }

    .section_links{
        background-color: #17153B;
        color: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 10px 10px 1px #C8ACD6;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    .section_links:hover{
        background-color: #C8ACD6;
        color: #17153B;
        box-shadow: none;
    }
    </style>
</head>
<body>
    <header>
        <div class="head_container">
            <h1 class="main_text">Pet Palace</h1>
            <ul class="head_list">
                <li class="head_list_items"><a href="#">Home</a></li>
                <li class="head_list_items"><a href="#about">About</a></li>
                <li class="head_list_items"><a href="#rating">Our Rating</a></li>
                <li class="head_list_items"><a href="#blog">Blog</a></li>
                <li class="head_list_items"><a href="/contact">Contact</a></li>
                <li class="head_list_items"><a href="/signup">Sign In / Sign Up</a></li>
            </ul>
        </div>
    </header>

    <section id="home">
        <div class="home_section">
            <center>
                <h2 class="home_text" id="welcomeText">Welcome_To_Pet_Shop - Your_Ultimate_Pet_Shop_!</h2>
            </center>
        </div>
    </section><br>

    <section id="about">
        <center>
            <h2>About Us</h2>
        <div class="about_section">
            <img class="illustration" src="/static/images/illustrations/about.png" alt="" >
            <center>
                <div class="ct_btn">
                    <p>Discover the story behind our Online Pet Shop, where we are dedicated to providing high-quality products and exceptional service for pet owners.
                        Our mission is to ensure your pets' health and happiness with carefully selected items.
                        Join our community of pet lovers who trust us for their furry friends' needs.</p><br><br>
                    <a class="section_links" href="/signup">To Explore More</a>
                </div>
            </center>
        </div>
       </center>
    </section><br>

    <section id="rating">
        <center>
            <h2>Our Site Rating</h2>
        </center>
        <div class="rating_section">
            <p>We value your opinions and invite you to rate your experience with our Online Pet Shop. 
                Your feedback helps us enhance our services and tailor our offerings to meet your needs. 
                Share your thoughts and let us know how we can improve to better serve you and your pets.
            </p>
            <img class="illustration" src="/static/images/illustrations/rating.png" alt="">
        </div>
    </section><br>

    <section id="blog">
        <center>
            <h2>Blog</h2>
        </center>
        <div class="blog_section">
            <img class="illustration" src="/static/images/illustrations/blog.png" alt="">
            <p>Explore our blog for expert advice, tips, and stories about pet care, training, and health. 
                Stay informed with the latest trends and insights to keep your pets happy and healthy. 
                Join our community and engage with fellow pet enthusiasts!</p>
        </div>
    </section><br>

    <footer>
        <center>
            <ul class="footer_list">
                <li class="footer_list_items"><i class="fa-solid fa-square-envelope" style="color: #ffffff;"></i>&ensp; pet_palace123@gmail.com</li><br>
                <li class="footer_list_items"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>&ensp; 1808-008-808</li><br>
                <li class="footer_list_items"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i>&ensp; pet_palace_fb</li><br>
                <li class="footer_list_items"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i>&ensp; pet_palace-yt</li><br>
                <li class="footer_list_items"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i>&ensp; pet_palace_insta</li><br>
            </ul>
        </center>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const textElement = document.getElementById('welcomeText');
      const text = textElement.textContent;
      textElement.textContent = ' ';
      text.split(' ').forEach((char, index) => {
        const span = document.createElement('span');
        span.textContent = char;
        span.style.animationDelay = ` ${index * 0.3}s `;
        textElement.appendChild(span);
      });
    });
  </script>
</html>